<div class="container">

    <section class="section_newsletter">
        <div class="form_container_img grid">
            <div class="">
                <img _ngcontent-xbl-c16="" src="assets/img/footer2-img.png" alt="" class="newslestter_img1">
            </div>
            <div class="">
                <form [formGroup]="form" class="form_content  grid">
                    <div class="lavel_form">Tipo de Rol</div>
                    <input type="text" placeholder="Ingrese el rol"  class="form_input" formControlName="txtType" >

                    <div class="lavel_form">Fecha</div>
                    <input type="date"  class="form_input" formControlName="txtDate" >

                    <div class="lavel_form">Email</div>
                    <input type="email" placeholder="Ingrese su correo" class="form_input"  formControlName="txtEmail" >

                    <div class="lavel_form">Password</div>
                    <input type="password" placeholder="Ingrese su Password" class="form_input"
                    formControlName="txtPassword">


                    <div></div>
                    <button class="button_input" (click)="crearRol()">Crear</button>
                </form>
            </div>

            <div class="">
                <img _ngcontent-xbl-c16="" src="assets/img/footer1-img.png" alt="" class="newslestter_img2">
            </div>

        </div>
    </section>

    <section class="table_container container grid">
        <table class="table_content">
            <thead class="table_head">
                <tr>
                    <th>Id Rol</th>
                    <th>Tipo de Rol</th>
                    <th>Fecha</th>
                    <th>Email</th>
                   
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of roles">
                    <td>{{item.rol_id}}</td>
                    <td>{{item.rol_type}}</td>
                    <td>{{item.rol_date  | date:'dd/mm/yyyy'}}</td>
                    <td>{{item.rol_email}}</td>
                   
                    <td>{{item.rol_state}}</td>
                    <td class="">
                        
                        <a  target="_blank " class="footer_social-link" (click)="mostrarDialogo(item.rol_id)">
                            <i class='bx bx-trash'></i>
                        </a> 
                        <a  target="_blank " class="footer_social-link" data-toggle="myModal" data-target="#editarRol" (click)="activeModal()"
                        (click)="infoUpdateRol(item.rol_id, item.rol_email,item.rol_password, item.rol_type, item.rol_date, item.rol_state)">
                            <i class='bx bx-edit'></i>
                            
                        </a>
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                
                              <form [formGroup]="form" class="form_content  grid">
                                <h3 class="modal-title" >Editar Roles</h3>
                                <div class="modal-title">
                                   id : {{informacionRoles.rol_id}}
                                </div>
                                <div class="lavel_form">Tipo de Rol</div>
                                <input type="text" value="{{informacionRoles.rol_type}}" class="form_input" formControlName="txtType" >

                                <div class="lavel_form">Fecha</div>
                                <input type="date"  class="form_input" formControlName="txtDate" value="{{informacionRoles.rol_date}}" >
            
                                <div class="lavel_form">Email</div>
                                <input type="email"  class="form_input"  formControlName="txtEmail" value="{{informacionRoles.rol_email}}" >
            
                                <div class="lavel_form">Password</div>
                                <input type="password" class="form_input" value="{{informacionRoles.rol_password}}"
                                formControlName="txtPassword">
            
                                <button class="button_input button_modal" (click)="inactiveModal()">Cerrar</button>
                                <button class="button_input button_modal" (click)="mostrarDialogoAct(informacionRoles.rol_id)">Actualizar</button>
                            </form>
                            </div>
                          
                          </div>

                        

                    </td>
                </tr>
            </tbody>
        </table>
    </section>


</div>



