<div class="container">
    <section class="section_newsletter">
        <div class="form_container_img grid">
            <div class="">
                <img _ngcontent-xbl-c16="" src="assets/img/footer2-img.png" alt="" class="newslestter_img1">
            </div>
            <div class="">
                <form [formGroup]="form" class="form_content  grid">

                    <div class="lavel_form">Cédula</div>
                    <input type="text" placeholder="Ingrese la cédula" class="form_input" formControlName="txtCedula" >

                    <div class="lavel_form">Nombre</div>
                    <input type="text" placeholder="Ingrese el nombre" class="form_input" formControlName="txtNombre" >

                    <div class="lavel_form">Dirección</div>
                    <input type="text" placeholder="Ingrese la dirección" class="form_input" formControlName="txtDireccion" >

                    <div class="lavel_form">Teléfono</div>
                    <input type="text" placeholder="Ingrese el telefono" class="form_input" formControlName="txtTelefono" >

                    <div></div>
                    <button class="button_input" (click)="crearProveedor()">Crear</button>
                </form>
            </div>

            <div class="">
                <img _ngcontent-xbl-c16="" src="assets/img/footer1-img.png" alt="" class="newslestter_img2">
            </div>

        </div>
    </section>

    <section class="table_container container grid">
        <table class="table_content">
            <thead class="table_head">
                <tr>
                    <th>Id</th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of proveedor">
                    <td>{{item.prov_id}}</td>
                    <td>{{item.prov_cedula}}</td>
                    <td>{{item.prov_nombre}}</td>
                    <td>{{item.prov_direccion}}</td>
                    <td>{{item.prov_telefono}}</td>
                    <td>{{item.prov_state}}</td>
                    <td class="">
                        <a  target="_blank " class="footer_social-link" (click)="mostrarDialogo(item.prov_id)">
                            <i class='bx bx-trash'></i>
                        </a> 
                        <a  target="_blank " class="footer_social-link" data-toggle="myModal" data-target="#editarProveedor" (click)="activeModal()"
                        (click)="infoUpdateProveedor(item.prov_id,item.prov_cedula,item.prov_nombre,item.prov_direccion,item.prov_telefono,item.prov_state)">
                            <i class='bx bx-edit'></i>
                        
                        </a>
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                
                              <form [formGroup]="form" class="form_content  grid">
                                <h3 class="modal-title" >Editar Proveedor</h3>

                                <div class="modal-title">
                                   Id Proveedor : {{informacionProvedores.prov_id}}
                                </div>

                                <div class="lavel_form">Cédula</div>
                                <input type="text" value="{{informacionProvedores.prov_cedula}}" class="form_input" formControlName="txtCedula" >

                                <div class="lavel_form">Nombre</div>
                                <input type="text" value="{{informacionProvedores.prov_nombre}}" class="form_input" formControlName="txtNombre" >

                                <div class="lavel_form">Dirección</div>
                                <input type="text" value="{{informacionProvedores.prov_direccion}}" class="form_input" formControlName="txtDireccion" >

                                <div class="lavel_form">Teléfono</div>
                                <input type="text" value="{{informacionProvedores.prov_telefono}}" class="form_input" formControlName="txtTelefono" >

                                <button class="button_input button_modal" (click)="inactiveModal()">Cerrar</button>
                                <button class="button_input button_modal" (click)="mostrarDialogoAct(informacionProvedores.prov_id)">Actualizar</button>
                            </form>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

