<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    LOGIN
                </div>
                <div class="card-body">
                    <div class="login">
                        <form [formGroup]="form" (ngSubmit)="onLogin(form.value)">
                            <h1>Login</h1>
                            <div class="form-group">
                                <input class="form-control" type="text" formControlName="rol_email" name="Email"
                                    placeholder="Nombre" required="required" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" formControlName="rol_password" name="Password"
                                    placeholder="Password" required="required" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" (click)="login()">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>