/* You can add global styles to this file, and also import other style files */
/* variables CSS */
:root{
    --header-height:3.5rem;
    /* colors */

    --hue:10;
    --first-color: hsl(var(--hue),90%,54%);
    --first-color-alt: hsl(var(--hue),91%,50%) ;
    --tittle-color: hsl(rgb(0, 0, 0)) ;
    --text-color: hsl(rgb(3, 3, 3)) ;
    --text-color-light: hsl(rgb(3, 3, 3)) ;
    /*--body-color: linear-gradient(20deg, rgb(255, 255, 255) 0%, rgb(190, 7, 7) 110%); */
    --body-color: linear-gradient(rgb(255, 255, 255));
    /*--container-color: linear-gradient(136deg, rgb(220, 5, 5) 0%, rgb(255, 255, 255) 100%); */
    --container-color: linear-gradient(136deg, rgb(220, 5, 5) 0%, rgb(180, 13, 13) 100%); 
    /* font and typography  */

    --body-font:  'Poppins', sans-serif;
    --biggest-font-size: 2rem ;
    --h1-font-size: 1.5rem ;
    --h2-font-size: 1.25rem ;
    --h3-font-size: 1rem ;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font qhight */

    --font-medium: 500;
    --font-semi-blood:600;
    --font-black: 900;

    /* Margenes Bottom */

    --mb-0-25:.25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
/* ToolTip */
    --z-tooltip:10;
    --z-fixed: 100;
}

@media screen and(min-width: 992px) {
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size:2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: -875rem;
        --smaller-font-size: .813rem;
    }
}
        /* ----------Base-------- */
*{
   
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    
}   

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0 ;
    font-family: var(--body-font);
    font-size: var(--body-font);
    background: var(--body-color);
    color:var(--text-color);

}

h1,h2,h3,h4{
    color: var(--tittle-color);
    font-weight: var(--font-semi-blood);
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
}
 
img{
    max-width: 100%;
    height: auto;
}
button,input{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    
}

/* ============Reusable CSS CLases */

.section{
    padding: 4.5rem 0 2rem;
}
.section_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}
/* ================ Layout */
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display:grid;
}

.main{
    overflow: hidden;
    /* for animation */
}
.header{
    width: 100%;
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);

}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav_logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}
.nav_logo-img{
    width: 2rem;
    border-radius: 8px;
}
.nav_link,
.nav_logo,
.nav_toggle,
.nav_close{
    color: var(--tittle-color);
}

.nav_toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .nav_menu{
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        transition: .4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;

    }
}

.nav_img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.nav_close{
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
}

.nav_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.nav_link{
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: .4s;
}
.nav_link:hover{
   color: var(--text-color); 
}
/* --------------------------active link */
.active-link{
    position: relative;
}

.active-link::before{
    
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--tittle-color);
    border-radius: 50%;
}


/* ==============show menu */
.show-menu{
    top: 0;
}


/* ------------- Home content */

.home_content{
    row-gap: 1rem;
}
.home_group{
    display: grid;
    position: relative;
    padding-top: 2rem;
}
.home_img{
    height: 250px;
    justify-self: center;
}
.home_indicator{
    width: 8px;
    height: 8px;
    background-color: var(--tittle-color);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}
.home_indicator::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--tittle-color);
    top: -3rem;
    right: 45%;
}

.home_details-img{
    position: absolute;
    right: .5rem;
}

.home_details-title,
.home_details-subtitle{
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.home_details-title{
    margin-top: 8px;
}

.home_subtitle{
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.home_title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.home_description{
    margin-bottom: var(--mb-1);
}

.home_buttons{
    display: flex;
    justify-content: space-between;
}

/* -------------Buttons----- */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--tittle-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button--ghost{
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: .75rem 1.5rem;
}

.button--ghost:hover{
    background: var(--body-color);
}

.button_icon{
    font-size: 1.25rem;
}


.button--link{
    color: var(--tittle-color);
}

.button--flex{
    top: 10px;
    display: inline-flex;
    align-items: center;
}
.button--flex:hover{
    opacity: 90%;
}

/* ..............................SWIPER */


.swiper-pagination-bullet{
    background:floralwhite !important ;
}

.swiper-pagination-progressbar-fill {
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255) !important;
    opacity: .4;
}


/* ------Category---- */
.category_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
}

.category_data{
    text-align: center;
}

.category_img{
    width: 120px;
    margin-bottom:  var(--mb-0-75);
    transition: .3s;
}

.category_title{
    margin-bottom: var(--mb-0-25);
}

.category_data:hover .category_img{
    transform: translateY(-1.5rem)
}

/* on change back header */

.scroll-header{
    background: var(--container-color);
}

.about_container{
    row-gap: 2rem;
}

.about_data{
    
    text-align: center;
}
.about_description{
    margin-bottom: var(--mb-2);
}
.about_img{
    width: 200px;
    justify-self: center;
}


.trick_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.trick_content{
    position: relative;
    background: var(--container-color);
    border-radius: 1rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    overflow: hidden;
}

.trick_img{
    width: 90px;
    transition: .3s;
}

.trick_subtitle,
.trick_price{
    display: block;
}

.trick_subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-5);
}

.trick_title,
.trick_price{
    color: var(--tittle-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
}

.trick_button{
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    right: -3rem;
    bottom: 0;
}

.trick_icon{
    font-size: 1.25rem;
    color: var(--tittle-color);
}

.trick_content:hover .trick_img{
    transform: translateY(-.5rem);
}

.trick_content:hover .trick_button{
    right: 0;
}

.discount_container{
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: .75rem;
}

.discount_data{
    text-align: center;
}

.discount_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.discount_img{
    width: 200px;
    justify-self: center;
}


/* ====================== New Arrivals--- */
.new_container{
    padding-top: 1rem;
    
}

.new_img{
    width: 120px;
    margin-bottom: var(--mb-0-5);
    transition: .3s;
}

.new_content{
    position: relative;
    background: var(--container-color);
    width: 242px;
    
    padding: 2rem 0 1.5rem 0;
    border-radius: .75rem;
    text-align: center;
    overflow: hidden;
}

.new_tag{
    position: absolute;
    top: 5%;
    left: 8%;
    padding: .25rem .5rem;
    border: 1px solid var(--first-color);
    border-radius: 50%;
    font-size: var(--small-font-size);
    color: var(--tittle-color);

}

.new_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.new_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
}

.new_prices{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}
.new_price{
    font-weight: var(--font-medium);
    color: var(--tittle-color);
}
.new_discount{
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.new_button{
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.new_icon{
    font-size: 1.25rem;
}

.new_content:hover .new_img{
    transform: translateY(-.5rem);
}
.new_content:hover .new_button{
    right: 0;
}
/* ---------------------------FORMS  ------------------ */

.button_input{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--tittle-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
    
}
.newslestter_img1{
    /* align-items: center; */
    margin-left: 6rem;
    height: 15rem;
    width: 10rem;
}
.newslestter_img2{
    /* align-items: center; */
    /* margin-right: 2rem; */
    height: 15rem;
    width: 8rem;
}

.lavel_form{
    color: var(--tittle-color);
    width: 10rem;
}
.form_input{
    border-radius: .75rem;
    /* width: 70%; */
    padding: .5rem;
    background: none;
    border: solid 1px;
    color: var(--tittle-color);
}

.form_content{
    grid-template-columns: repeat(2, 1fr);
    align-items: left;
    row-gap: 1rem;
    background: var(--container-color);
    padding: 1rem ;
    border-radius: .75rem;
}
.carrito{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    /* align-items: left; */
    row-gap: 1rem;
    background: var(--container-color);
    padding: 1rem ;
    border: solid 1px;
    border-radius: .75rem;
}
.carrito2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
    /* align-items: left; */
    row-gap: 1rem;
    background: var(--container-color);
    padding: 1rem ;
    border: solid 1px;
    border-radius: .75rem;
}
.carrito_btn{
    /* display: inline-block; */
    background-color: var(--first-color);
    color: var(--tittle-color);
    padding: .5rem 0rem;
    border-radius: .5rem;
    font-weight: var(--small-font-size);
    transition: .3s;
}

.form_container_img{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

/* --------------------- DopDow Button------------------- */
select{
    background-color: var(--container-color);
    color: var(--tittle-color);
    border-radius: 5px;
    padding: 5%;
    transition: .5s;

}
select:hover{
    /* background-color: var(--container-color); */
    background: var(--body-color);
}
option{
    background-color: rgb(239, 44, 0) ;
    /* background: rgb(53, 87, 53); */
    color: var(--tittle-color);
    border-radius: 3rem;
}
/* ---------Tables format--------------------- */

.table_date_buttons{
    display: flex;
    column-gap: .15rem;
}
    

.table_bootons{
    display: inline-flex;
    margin: .15rem;
    background: var(--first-color);
    padding: .45rem;
    border-radius: .25rem;
    color: var(--tittle-color);
    transition: .3s;
}
.table_bootons :hover{
    background: var(--body-color);
}


.table_container{
    padding: 1rem;
    /* background-color: var(--container-color); */
    border-radius: 12px;
}
.table_content{
    background-color: rgb(255, 255, 255);
    border-radius: 14px;

}
.table_head{
    background-color: rgba(212, 72, 72);
    align-items: center;
    background-color: var();
    opacity: 150%;   
    border-bottom: 2px solid rgb(255, 255, 255);
}
table{
    border-collapse: collapse;
    width: 100%;

}

tr, td{
    /* background-color: var(--container-color); */
    text-align: center;
    /* border-bottom: 1px solid #ddd; */

}
tr:hover {
    border-bottom: 1px solid #ddd;
    background-color: rgb(212, 72, 72);
    color: rgb(0, 0, 0);
}



/* ------------------news letter  */

.newsletter_description{
    text-align: center;
    margin-bottom: var(--mb-1-5);
}
.newsletter_form{
    background: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .75rem;
}


.newsletter_input{
    border-radius: .75rem;
    width: 70%;
    background: none;
    color: var(--tittle-color);
}

.newsletter_input::placeholder{
    color: var(--text-color);
}

/* implement go home */
.go_home{
    position: fixed;
    display: inline-flex;
    background: var(--first-color);
    z-index: var(--z-tooltip);
    padding: .3rem;
    right: 1%;
    bottom: -20%;
    color: var(--tittle-color);
    font-size: var(--mb-2);
    border-radius: .75rem;
    opacity: .7;
    transition: .4s;
}

.go_home:hover{
    background: orangered;
}

.show-scroll{
    bottom: 2rem;
}

/* -----------footer00--------------- */

.footer{
    position: relative;
    overflow: hidden;
}

.footer_img-one,
.footer_img-two{
    position: absolute;
    transition: .3s;
}

.footer_img-one{
    width: 100px;
    top: 6rem;
    right: -2rem;
}
.footer_img-two{
    width: 150px;
    bottom: 4rem;
    right: 4rem;
}

.footer_img-one:hover,
.footer_img-two:hover{
    transform: translateY(-.5rem);
}

.footer_container{
    row-gap: 2rem;
}
.footer_logo{
    display: flex ;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--tittle-color);   
    border-radius: 8px;
}

.footer_logo-img{
    width: 20px;
}

.footer_description{
    margin-bottom: var(--mb-2-5);
}

.footer_social{
display: flex;
column-gap: .75rem;
}

.footer_social-link{
    display: inline-flex;
    /* border: solid 1px white; */
    margin: .2rem;
    background: var(--first-color-alt);
    padding: .40rem;
    border-radius: .25rem;
    color: var(--tittle-color);
    transition: .5s;
}

.footer_social-link:hover{
    background: var(--container-color);
    /* padding: .45rem; */
}

.footer_title{
    font-size: var(--h3-font-size);
}

.footer_links{
    display: grid;
    row-gap: .35rem;
}

.footer_link{
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.footer_link:hover{
    color: var(--tittle-color);
}

.footer_copy{
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}

/* ------------Scrol */

.scrollup{
    position: fixed;
    background: var(--container-color);
    right: 1rem;
    bottom: 5rem;
    display: inline-flex;
    padding: .3rem;
    border-radius: .25rem;
    
}

/* ---------------scroll bar */
::-webkit-scrollbar{
    width: 0.6rem ; 
    background: #413e3e; 
}
::-webkit-scrollbar-thumb{
    background: var(--first-color);
    border-radius: .5rem;
}



/* ----------Brack points  */

/* for small devices */
@media screen and (max-width: 570px) {
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .new_button{
        padding: .3rem;
    }
    .home_img{
        height: 200px;
    }
    .home_buttons{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: max-content;
    }
    .category_container,
    .trick_container{
        grid-template-columns: .8fr;
        justify-content: center;
    }
}

/* ----------------------------- Modal------------ */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 5%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(248, 240, 240, 0.4); /* Black w/ opacity */
    
  }
  .modal_show{
    display: block;
  }
  .modal-title{
    color: var(--tittle-color);
    padding: 2%;
    size: 20px;
  }

  .button_modal{
    /* border-radius: .75rem; */
    align-self: left;
    width: 70%;
    padding: .5rem;
   
  }
  .button_modal:hover{
    background-color: rgb(247, 84, 20);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: none;
    border-color: none;
    /* margin: auto; */
   padding-left: 25%;
   padding-right: 25%;
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s

  }
  /* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

  /* The Close Button */
  .close {
    color: #f6f1f1;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }






/* for large devices */

@media screen and (min-width: 650px) {
    body{
        margin: 0;
    }
    .new_button{
        padding: .3rem;
    }
    .section{
        padding: calc(var(--header-height));
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav_img,
    .nav_close,
    .nav_toggle{
        /* transform nav colum to nav row */
        display: none;
    }

   .nav_list{
       /* 2nd step for transform nav in to row and space between rows */
       flex-direction: row;
       column-gap: 1.7rem ;
   }
   .nav_link{
       text-transform: initial;
       font-weight: initial;
   }
   .home_content{
       padding: 8rem 0 2rem;
       grid-template-columns: repeat(2 , 1fr);
       gap: 4rem;
   }
   .swiper-pagination{
    position: initial !important;
    bottom: -10px !important;
    /* margin-top: var(--mb-1); */
    }
    .home_img{
        height: 300px;
    }
    .about_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .about_title,
    .about_data{
        text-align: initial;
    }    
    .about_img{
        width: 250px;
    }
    .trick_container{
        grid-template-columns: repeat(3,200px);
        justify-content: center;
    }

    .newsletter_container{
        grid-template-columns: .5fr;
      }

    .footer_container{
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: .5rem;
    }
    .footer_img-one,
    .footer_img-two{
        top: 2rem;
        bottom: 0;
    }
    .footer_img-two{
        right: initial;
        top: 2rem;
        left: -5rem;
    }
    

@media screen and (min-width: 800px) {
    
    .container{
        margin-left: auto;
        margin-right: auto;
    }
   
    .category_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .trick_container{
        justify-content: center;
    }

    .discount_container{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        padding: 3rem 0;
        border-radius: 3rem ;
    }
    .discount_img{
        width: 350px;
        order: -1;
    }
    .discount_data{
        padding-right: 6rem;
    }
    .trick_container{
        grid-template-columns: repeat(3,200px);
        justify-content: center;
        gap: 4rem;
    }
    .about_container{
       align-content: center;
    }
    .about_description{
        padding-right: 2rem;
       
    }
    .about_img{
        width: 300px;
    }
    .newslestter_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
    .newslestter_container_img{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;
    }
    
}

@media screen and (min-width:1250px) {
    .footer_img-two{
        right: initial;
        top: 2rem;
        left: 2%;
    }
    .footer_img-one{
        right: 8rem;
        top: 2rem;
        left: initial;
    }
    .footer_copy{
        bottom: 0;
    }

}

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
