
<main class="main">
    <!-- Home -->
    <section class="home container" id="home">
        <div class="swiper home-swiper">
            <div class="swiper-wrapper">
                <section class="swiper-slide">
                    <div class="home_content grid">
                        <div class="home_group">
                            <img src="assets/img/navidadventas.png" alt="" class="home_img">
                            <div class="home_indicator"></div>
                            
                        </div>
                        <div class="home_data">
                            <h3 class="home_subtitle">#1 Facil de pagar</h3>
                            <h1 class="home_title">SI PAGAS CON VISA <br> TUS COMPRAS <br> AL 50% DE DESCUENTO!!</h1>
                            <p class="home_description">
                                
                            </p>
                        </div>
                        <div class="home_buttons">
                            <a href="#" class="button">book now</a>
                            <a href="#" class="button--link button--flex">
                                Track Record
                                <i class='bx bx-skip-next-circle button_icon'></i>
                            </a>
                        </div>
                    </div>

                </section>

                <section class="swiper-slide">
                    <div class="home_content grid">
                        <div class="home_group">
                            <img src="assets/img/amor.png" alt="" class="home_img">
                            <div class="home_indicator"></div>
                            <div class="home_details-img">
                                <h4 class="home_details-title"></h4>
                                <span class="home_details-subtitle"></span>
                            </div>
                        </div>
                        <div class="home_data">
                            <h3 class="home_subtitle">#2 Descuentos por fechas especiales</h3>
                            <h1 class="home_title">EN ESTA NAVIDAD<br> REGALA LO MEJOR!!</h1>
                            <p class="home_description">
                                Envios gratis a todo el Ecuador sin recargos adicionales
                            </p>
                        </div>
                        <div class="home_buttons">
                            <a href="3" class="button">book now</a>
                            <a href="" class="button--link button--flex">
                                Track Record
                                <i class='bx bx-skip-next-circle button_icon'></i>
                            </a>
                        </div>
                    </div>
                </section>



                <section class="swiper-slide">
                    <div class="home_content grid">
                        <div class="home_group">
                            <img src="assets/img/pavo.jpg" alt="" class="home_img">
                            <div class="home_indicator"></div>
                            <div class="home_details-img">
                                <h4 class="home_details-title">Sorteo 23 de diciembre del 2022</h4>
                            </div>
                        </div>
                        <div class="home_data">
                            <h3 class="home_subtitle">#3 PAVOOOOO!!</h3>
                            <h1 class="home_title">SORTEO<br> NAVIDEÑO!!</h1>
                            <p class="home_description">
                                Por cada compra de 20$ llevate 2 boletos
                                para el sorteo de un pavo navideño para 
                                que lo compartas en familia.
                            </p>
                        </div>
                        <div class="home_buttons">
                            <a href="#" class="button">book now</a>
                            <a href="#" class="button--link button--flex">
                                Track Record
                                <i class='bx bx-skip-next-circle button_icon'></i>
                            </a>
                        </div>
                    </div>
                </section>


            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>





    <section class="section trick" id="trick">
        <h2 class="section_title">Todos nuestros productos</h2>
        <div class="trick_container container grid">
            <div class="trick_content"  *ngFor="let product of productos">
                <img [src]="product.product_image" alt="" class="trick_img" width="100" height="100">
                <h3 class="trick_tittle">{{product.product_title}}</h3>

                <span class="trick_subtitle">{{product.product_description}}</span>
                <span class="trick_price">${{product.product_price}}</span>

                <button class="button trick_button" routerLink="carrito">
                    <i class='bx bxs-cart-add trick_icon'></i>
                </button>
            </div>

        </div>
    </section>

    <section class="section discount">
        <div class="discount_container container grid">
            <div class="discount_data">
                <h2 class="discount_title">50% de descuento <br>en productos nuevos</h2>
                <a href="#" class="button">Go to new</a>
            </div>
            <img src="assets/img/canasta.png" alt="" class="discoutn_img">
        </div>
    </section>

    <section class="section new" id="new">
        <h2 class="section_title">Productos con Descuentos</h2>


        <div class="new_container container " >
            <div class="swiper new-swiper">
                <div class="swiper-wrapper">

                    <div class="new_content swiper-slide" *ngFor="let product of productos" width="100" height="100">
                        <div class="new_tag">New</div>
                        <img [src]="product.product_image" alt="" class="new_img">
                        <h3 class="new_title">{{product.product_title}}</h3>
                        <span class="new_subtitle">{{product.product_description}}</span>
                        <div class="new_prices">
                            <span class="new_price">${{product.product_price}}</span>
                            <span class="new_discount">${{product.product_price}}</span>
                        </div>
                        <button class="button new_button" routerLink="carrito">
                            <i class='bx bxs-cart-add trick_icon'></i>
                        </button>
                    </div>

                    <div class="new_content swiper-slide">
                        <div class="new_tag">New</div>
                        <img src="assets/img/new2-img.png" alt="" class="new_img">
                        <h3 class="new_title">Haunter House</h3>
                        <span class="new_subtitle">Accessory</span>
                        <div class="new_prices">
                            <span class="new_price">$16.99</span>
                            <span class="new_discount">$19.99</span>
                        </div>
                        <button class="button new_button">
                            <i class='bx bxs-cart-add trick_icon'></i>
                        </button>
                    </div>

                    <div class="new_content swiper-slide">
                        <div class="new_tag">New</div>
                        <img src="assets/img/new3-img.png" alt="" class="new_img">
                        <h3 class="new_title">Haunter House</h3>
                        <span class="new_subtitle">Accessory</span>
                        <div class="new_prices">
                            <span class="new_price">$9.99</span>
                            <span class="new_discount">$18.99</span>
                        </div>
                        <button class="button new_button">
                            <i class='bx bxs-cart-add trick_icon'></i>

                        </button>
                    </div>

                    <div class="new_content swiper-slide">
                        <div class="new_tag">New</div>
                        <img src="assets/img/new4-img.png" alt="" class="new_img">
                        <h3 class="new_title">Haunter House</h3>
                        <span class="new_subtitle">Accessory</span>
                        <div class="new_prices">
                            <span class="new_price">$29.99</span>
                            <span class="new_discount">$25.99</span>
                        </div>
                        <button class="button new_button">
                            <i class='bx bxs-cart-add trick_icon'></i>

                        </button>
                    </div>

                    <div class="new_content swiper-slide">
                        <div class="new_tag">New</div>
                        <img src="assets/img/new5-img.png" alt="" class="new_img">
                        <h3 class="new_title">Haunter House</h3>
                        <span class="new_subtitle">Accessory</span>
                        <div class="new_prices">
                            <span class="new_price">$20.00</span>
                            <span class="new_discount">$25.99</span>
                        </div>
                        <button class="button new_button">
                            <i class='bx bxs-cart-add trick_icon'></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="section_newsletter">
        <div class="newslestter_container container grid">
            <div class="">
                <h2 class="section_title">Our Newlettter</h2>
                <p class="newsletter_description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio qui
                    iusto aliquam delectus dignissimos commodi itaque vel nulla labore eos optio consectetur laborum
                    quisquam quos velit aspernatur aperiam, maiores ipsam?</p>
            </div>
            <div>
                <form action="" class="newsletter_form">
                    <input type="email" placeholder="Enter your email" class="newsletter_input">
                    <button class="button">Subscribe</button>
                </form>
            </div>

        </div>
    </section>


    <!-- Foooter -->
    <footer class="footer section">
        <div class="footer_container container grid">
           <div class="footer_content">
            <a href="#" class="footer_logo">
                <img src="assets/img/Logo.jpg" alt="" class="footer_logo-img">
                Carlitos' Store.ec
            </a>
            <p class="footer_description">Disfruta de los mejores productos</p>
            <div class="footer_social">
                <a href="#" target="_blank " class="footer_social-link">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="#" target="_blank " class="footer_social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="#" target="_blank " class="footer_social-link">
                    <i class='bx bxl-whatsapp'></i>
                </a>
            </div>
           </div>
            <div class="footer_content">
                <h3 class="footer_title">About</h3>
                <ul class="footer_links">
                    <li><a href="" class="footer_link">About us</a></li>
                    <li><a href="" class="footer_link">Features</a></li>
                    <li><a href="" class="footer_link">News</a></li>

                </ul>
            </div>
            <div class="footer_content">
                <h3 class="footer_title">Our services</h3>
                <ul class="footer_links">
                    <li><a href="" class="footer_link">Pricing</a></li>
                    <li><a href="" class="footer_link">Discounts</a></li>
                    <li><a href="" class="footer_link">Shipping mode</a></li>

                </ul>
            </div>

            <div class="footer_content">
                <h3 class="footer_title">Our company</h3>
                <ul class="footer_links">
                    <li><a href="" class="footer_link">Blog</a></li>
                    <li><a href="" class="footer_link">About us</a></li>
                    <li><a href="" class="footer_link">Our mission</a></li>

                </ul>
            </div>
        </div>
        <span class="footer_copy">&#169; Lescano. All rigths reserved</span>
        <img src="assets/img/footer1-img.png" alt="" class="footer_img-one">
        <img src="assets/img/footer2-img.png" alt="" class="footer_img-two">

    </footer>
    <!-- 
    <a href="" class="scrollup" id="scroll-up">
        <i class='bx bx-chevron-up scroll_icon' ></i>
    </a> -->

    <a href="#home" class="go_home container grid" id="scroll-up">
        <i class='bx bx-chevron-up'></i>
    </a>


</main>

<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".home-swiper", {
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
  });

  var swiper = new Swiper(".new-swiper", {
    slidesPerView: 3,
    spaceBetween: 5,
    freeMode: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
 
</script> -->
