<h1 mat-dialog-title style=" text-align: center">Confirmación</h1>
<div mat-dialog-content style="width: 300px;">
    <p style=" text-align: center">{{mensaje}}</p>
</div>
<div mat-dialog-actions  >
    <button mat-button style="color: #fff;background-color: #153961; width: 100px;" (click)="cerrarDialogo()">No</button>
    <button mat-button style="color: #fff;background-color: #bd2722; width: 100px; left: 10%;" (click)="confirmado()" cdkFocusInitial>Sí</button>
</div>
